* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 16px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.navbar .left {
  font-size: 32px;
  font-weight: bold;
}

.navbar .right {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .right a {
  text-decoration: none;
  color: black;
}

.navbar .right a:hover {
  text-decoration: underline;
}

/* Botón responsive menu */
.navbar .bar {
  background-color: black;
  height: 4px;
  width: 36px;
  margin: 3px;
  border-radius: 10px;
}

.navbar .hamburguer {
  display: none;
}

.espacio {
  /*  width: 500px; */
  position: relative;
}

/* Configuración de contenedor espacios con CSS GRID */

.espacios {
  display: grid;
  /* height: 700px; */
  grid-template-areas:
    "vista vista foto1"
    "vista vista foto1"
    "foto4 foto3 foto2"
    "foto5 foto6 foto6"
    "foto5 foto6 foto6"
    "foto7 foto7 foto8"
    "foto7 foto7 foto8";
  width: 100%;
  grid-gap: 16px;
}

#vista {
  grid-area: vista;
}

#foto1 {
  grid-area: foto1;
}

#foto2 {
  grid-area: foto2;
}

#foto3 {
  grid-area: foto3;
}

#foto4 {
  grid-area: foto4;
}

#foto5 {
  grid-area: foto5;
}

#foto6 {
  grid-area: foto6;
}

#foto7 {
  grid-area: foto7;
}

#foto8 {
  grid-area: foto8;
}

/* La propiedad CSS "object-fit" se utiliza para especificar cómo debe ajustarse un elemento <img> o <video> dentro de su contenedor. Esta propiedad determina cómo se escala o recorta el contenido para adaptarse al contenedor sin distorsionarlo. Aquí tienes algunos valores comunes para object-fit:
 */
.espacio img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.espacio .superpuesto {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  transition: all 0.2s ease;
}

.espacio .superpuesto:hover {
  opacity: 1;
  cursor: pointer;
}

.superpuesto.blanco {
  color: white;
}

.footer {
  text-align: center;
  padding: 64px;
}

/* Responsive - Media Queries */
@media only screen and (max-width: 1100px) {
  .container {
    max-width: 100%;
  }

  .espacios {
    display: grid;
    grid-template-areas:
      "vista vista"
      "foto1 foto2"
      "foto4 foto3"
      "foto6 foto6"
      "foto5 foto7"
      "foto8 foto8";
  }
}

/* Media queries - Teléfono */
@media only screen and (max-width: 768px) {
  .espacios {
    margin-top: 100px;
  }

  .navbar {
    padding: 16px 24px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: white;
    width: 100%;
  }

  .navbar .right {
    display: none;
  }

  /* Hacer que aparezca el menú hamburguesa */
  .navbar .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .espacios {
    display: grid;
    grid-template-areas:
      "vista vista"
      "foto1 foto1"
      "foto2 foto2"
      "foto4 foto3"
      "foto6 foto6"
      "foto5 foto5"
      "foto7 foto7"
      "foto8 foto8";
  }

  .espacio .superpuesto {
    font-size: 24px;
    text-align: center;
  }

  .footer {
    font-size: 14px;
    padding: 32px;
  }
}
